<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link type = "text/css" rel = "stylesheet" href = "/static/css1/style.css"/>
		
	</head>
	<body>
	

		<h1>Contact Us</h1>


		<div id="errors">

		</div>

	<br>


		<div id= "contact">
			<form name="contact", method="POST">
				<label for="firstname">First Name</label>
				<input type="text" id="firstname" name="firstname" >
				<label for="lastname">Last Name</label>
				<input type="text" id="lastname" name="lastname" >
			<br>
		<br>
				<label for="subject">Subject</label>
				<input type= "text" id="subject" name="subject"  style="width:360px">
			<br>
		<br>
				<label for="message">Message</label>
				<textarea id="message" name="message"   style="width:355px"></textarea>
			<br>
				<input type= "submit" value= "submit">
			</form>
		</div>

		
		

		<footer>
			<br>
			<h3>Other Pages</h3>
			<br>
			<ul>
				<li><a href="index" >Homepage</a></li>
				<li><a href="about" >About Us</a></li>
				<li><a href="contact" >Contact Us</a></li>
			</ul>
		</footer>
			<script src="/static/js1/script1.js"></script>
	

	</body>
</html>