<!DOCTYPE html>
<html>
	<head>
		<title>Assignment 2</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" TYPE="text/css" href="/static/css1/style.css"/>
		
	</head>
	<body>
		<h1>Hello World</h1>
		<br />
		
			<a href = "/blog/8-experiments-in-motivation">8 Experiments in Motivation</a> 
			<a href = "/blog/a-mindful-shift-of-focus">A Mindful Shift of Focus</a>
			<a href = "/blog/how-to-develop-an-awesome-sense-of-direction">How to Develop an Awesome Sense of Direction</a>
			<a href = "/blog/training-to-be-a-good-writer ">Training to Be a Good Writer</a>
			<a href = "/blog/what-productivity-systems-wont-solve">What Productivity Systems Won't Solve</a>
		

	
		<br />
		<footer>
			<h2>Other Pages</h2>
			<br />
			<ul>
				<li><a href="index">Homepage</a></li>
				<li><a href="about">About Us</a></li>
				<li><a href="contact">Contact Us</a></li>
			</ul>
		</footer>

	</body>
</html>		